.Header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0px 20px; 
    margin: 20px; /*top-bottom = 0, left right = 20px */
}

.app-logo {
    width: 80px;
    height: 89px;
}


.nav-items > ul {
    display: flex;
    font-size: 18px;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 8px;
    margin: 10px;
}
.res-card {
    
    width : 200px;
    
    background-color:#f2efdf;
    padding: 5px;
    margin: 20px;

}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;

}

.search-bar { 
    padding: 10px;
}

.res-logo{
    width : 100%;
    
    
}

.Footer{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0px 10px;  /*top-bottom = 0, left right = 20px */
}
.nav-itemss > ul {
    text-align: left;
    font-size: 18px;
    list-style-type: none;
}
.nav-itemss {
    text-align: left;
}

.nav-itemss> ul > li {
    padding: 17px;
    margin: 10px;
}

.filter-btn{
    cursor: pointer;
    border-radius: 50px;
    border-color: blue;
    background-color: blanchedalmond;
    border-style: rounded;
    margin-left: 20px;
    margin-right: 10px;
}